body{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
h1 {
    text-align: center;
    color: black;
}
img{
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color:darkslateblue;    
}
/* img[data-src]{
    filter: blur(.5em);
    transition: filter 2s;
} */
