body{
    text-align: center;
}
h1{
    background-color: skyblue;
    font-size: 3rem;
}
p{
    font-size: larger;
    font-weight: bold;
}
h2{
    font-size:xx-large;
}
img{
    width: 150px;
    height: auto;
}