@media only screen and (min-width: 40em){
    #home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    
    }
    .fruit, .fruit2, .fruit3, .weather, .summary, .map{
        margin: 10%;
    }
   
}