body{
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
}
header{
    padding: 1.5rem;
}
header, main, footer{
    margin: 1.25rem auto;
    max-width: 500px;
    align-items: center;
}
header, footer{
    background-color: rgb(6, 99, 161);
    color: white;
    font-weight: bold;
    text-align: center;
    
}
h1{
    font-size: 1em;
    font-family: 'Poppins';
}
h2{
    font-size: small;
    font-family: 'Rock Salt';
}
section{
    margin: 5%;
}
.design1, .design2, .design3{
    background-color: rgb(231, 229, 229);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border: gray;
    border-style: solid;
    
}

img{
    max-width: 340px;
    max-height: 600px;
    border: 1px;
}
h3{
    font-size: 1em;
    color: white;
    background-color: rgb(6, 99, 161);
}

p{
    font-family: 'Poppins';
}
footer{
    color: white;
    font-size:small;
    font-family: 'Nunito';
}