@media only screen and (min-width: 1200px) and (max-width: 2200px){
    header, nav, footer{
        max-width: 1600px;
    }
    main{
        max-width: 1200px;
    }
    img{
        float: left;
        width: 250px;
        height: auto;
    }
    a{
        font-size: 2rem;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 3rem;
    }
    h4{
        font-size: 3rem;
    }
    li{
        font-size: 2rem;
        display: inline;
    }
    .scenarios li{
        display: flex;
        margin-left: 2%;
        font-family: 'Poppins';
    }
    p{
        font-size: 2rem;
        padding: 0%;
    } 
    footer{
        font-size: 1em;
    }
    
}