.hidden {
    background-color: rgb(243, 146, 146);
    font-weight: bolder;
    padding: 1%;
}
body {
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
img {
    width: 100%;
}
header {
    background-color: #034363;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 5%;
    padding: 1.5rem;
    color: white;
}
.brand {
    display: flex;
    align-items: center;
}
.logo-image {
    width: 110px;
    height: auto;
}
header .company {
    text-align: left;
    font-size: 60%;
    padding: 5%;
}
header .company h1 {
    font-family: 'Poppins';
    margin-bottom: -5px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social {
    display: flex;
}
.social a {
    margin-right: 10%;
    width: 40px;
}
#hamburgerBtn {
    background-color: tan;
    font-size: 2rem;
    margin-top: -2%;
    color: black;
}
#primaryNav ul {
    list-style-type: none;
    margin: .2rem 2vw;
    padding: 0;
    font-weight: 800;
}
header nav {
    display: none;
}
header nav.open {
    display: block;
    grid-column: 1/4;
    margin-bottom: 2%;
}
header a {
    color: white;
}
#primaryNav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
}
#primaryNav a:hover {
    background-color: #ff8d0a;
}
#currentDate {
    grid-column: 1/4;
    background-color: tan;
    color: black;
    padding: 2% 0 2% 0;
}
main {
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}
main section, main div {
    margin: 2rem;
    background-color: #e2dfdf;
    border: 1px solid black;
}
main section p, main div p {
    padding: 5%;
}
#hero-banner {
    position: relative;
    padding: 0;
}
#hero-banner h2{
    position: absolute;
    background-color: #e2dfdf;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 5%;
}
#hero-banner a{
    background-color: tan;
    color: black;
    padding: 2%;
    border-radius: 10px;
    position: absolute;
    bottom: 15%;
    right: 20%;
}
#hero-banner a:hover{
    background-color: #ff8d0a;
    color:black;
}
.event {
    box-sizing: border-box;
    padding: 2%;
}
.event h3{
    text-align: center;
    color: black;
    font-family: 'Poppins';
}
.weather {
    box-sizing: border-box;
    padding: 2%;
}
.weather h3{
    text-align: center;
    color: black;
    font-family: 'Poppins';
}
.weather div {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.news {
    box-sizing: border-box;
    padding: 2%;
}
.news h3{
    text-align: center;
    color: black;
    font-family: 'Poppins';
}
.spotlight {
    background-color: white;
    padding: 2%;
    border: 1px solid black;
}
.spotlight section {
    box-sizing: border-box;
    margin: 0;
    padding: 2%;
    word-wrap: break-word;
}
.large-only, .medium-display {
    display: none;
}

footer {
    background-color:  #034363;
    display: block;
    padding: 2% 2% 0 2%;
    align-items: center;
    font-size: 70%;
    border-radius: 10px;
    color: white;
}
.section1 section h2, .section2 h3 {
    font-size: 150%;
}
.section1 {
    max-width: 50%;
    margin-left: 25%;
}
.location {
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}
.section2 {
    padding-bottom: 1%;
}
.section2 p {
    display: block;
    color: white;
}
.section2 a{
    color: white;
}
hr {
    max-width: 80%;
}
.grid-text{
    color: black;
    font-style: italic
}