body{
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
}
header{
    padding: 1.5rem;
    font-family: 'Rock Salt';
}
header, nav, main, footer{
    margin: 1.25rem auto;
    max-width: 500px;
}
header, footer{
    background-color: rgb(6, 99, 161);
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: -5px 5px 10px 10px rgb(228, 217, 217);
}
img{
    width: 110px;
    height: auto;
    border: 1px;
}
h1{
    font-size: 1em;
}
ul{
    font-family: 'Nunito';
}
h2{
    font-size: 1em;
    text-shadow: 2px 2px gray;
    font-family: 'Poppins';
}
footer h3{
    color: yellow;
    margin-top: -8px;
    font-size:small;
    font-family: 'Poppins';
}